* {
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    /*background-color: rgba(0, 128, 128, 0.911); */
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

#question-number,
#score-number {
    padding-left: 5px;
}


.question-and-score {
    margin-top: 10px;
  }

  .question-and-score ul {
    display: inline;
    list-style: none;
    text-align: center;
  }

  .question-and-score li {
    display: inline;
    font-weight: bold;
    padding-right: 30px;
    font-size: 20px;
  }

  .icon img {
      border-radius: 50px;
      width: 100px;
      display:flex;
      flex-direction:column;
      align-items: center;
  }

  main {
      max-width:90%;
      margin: auto;
  }

  .startingPage,
  .endingPage {  
    border: 10px solid lightgray;
    border-radius: 30px;
    margin: 1% 20% 0 20%;
    padding-bottom: 1%;
    /* margin: 50px 80px 50px 80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 90%;
  }


img.images {
    max-width: 80%;
}

img.home-image {
    margin-bottom: 10px;
}

  button {
      width: 75px;
      height: 50px;
      border-radius: 10px;
      background-color: red;
      color: white;
      font-size: 15px;
  }

  #submit-button,
  .nextButton {
      float: right;
      margin-right: 20px;
  }

  #questions-container {
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid lightgray;
    border-radius: 30px;
  }


  #img-and-options {
    text-align: center;
  }

  img.question-img {
    margin: auto;
  }

  .question-page{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0 30px 0;
  }


  #wrong {
      color: red;
  }

  #correct {
    color: green;
  }

  #next{
    float: right;
  }

  
  fieldset.radios {
    display: inline;
    font-size: 1em;
  }

  input[type="radio"]{
    margin: 0 10px 0 10px;
    font-size:;
  }


  /* For screens 520px or more */
@media screen and (max-width: 520px) {
    .icon img {
        border-radius: 50px;
        width: 50px;
    }

    img.home-image {
        margin-bottom: 1px;
    }

    .question-and-score li {
        display: inline;
        font-weight: bold;
        padding-right: 30px;
        font-size: 15px;
      }

    .startingPage,
    .endingPage {  
        border: 5px solid lightgray;
        border-radius: 15px;
    }

    .question-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #questions-container {
        width: 20.5em;
        padding-top: 2.6em;
        padding-bottom: 2.6em;
        padding: 2% 2% 2% 2%;
        border: 10px solid lightgray;
        border-radius: 30px;
    }

    h1 {
        font-size: 10px;
        margin: 1px 0 1px;
    }

    button {
        width: 50px;
        height: 30px;
        border-radius: 10px;
        background-color: red;
        color: white;
        font-size: 10px;
    }   

    .question-page {
        padding: 15px;
    }

    fieldset.radios {
        display: inline;
        font-size: .75em;
      }